.DS_Store
.build
/.idea
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm
local.yml

# emacs temp files
*~
\#*\#

# xcodegen generated, don't record
Generated/

/* Generated Jazzy documentation
jazzy_docs/
